.bgContainer {
   display: block;
   position: relative;
   width: 100%;
   height: 223px;

   @media (min-width: 768px) and (max-width: 1024px) {
      height: 173px;
   }

   @media (min-width: 375px) and (max-width: 768px) {
      height: 111px;
   }

   img {
      width: 100%;
      height: 100%;
      z-index: 1;
      border-radius: 25px;
      object-fit: cover;

      @media (min-width: 375px) and (max-width: 768px) {
         border-radius: 10px;
      }
   }
   p {
      margin: 0;
      position: absolute;
      top: 37%;
      left: 20%;
      right: 20%;
      color: white;
      font-size: 48px;
      font-weight: 700;
      z-index: 3;

      @media (min-width: 768px) and (max-width: 1438px) {
         text-align: center;
      }

      @media (min-width: 1024px) and (max-width: 1385.56px) {
         top: 25%;
      }

      @media (min-width: 768px) and (max-width: 1024px) {
         right: 6%;
         left: 7%;
      }

      @media (min-width: 768px) and (max-width: 956.67px) {
         top: 15%;
      }

      @media (min-width: 375px) and (max-width: 768px) {
         font-size: 24px;
         font-weight: 700;
      }

      @media (min-width: 516px) and (max-width: 768px) {
         top: 35%;
         left: 10%;
         right: 10%;
      }

      @media (min-width: 375px) and (max-width: 516px) {
         top: 31px;
         left: 16px;
         right: 78px;
      }
   }
   .filter {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba($color: #000000, $alpha: 0.6);
      z-index: 2;
      border-radius: 25px;
      box-shadow: 0 4px 4px 0 rgba($color: #000000, $alpha: 0.25);

      @media (min-width: 375px) and (max-width: 768px) {
         border-radius: 10px;
      }
   }

   .brighter {
      background-color: rgba($color: #000000, $alpha: 0.3);
   }
}
