.carousel {
   position: relative;
   width: 100%;
   height: 415px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

   @media (min-width: 375px) and (max-width: 768px) {
      height: 255px;
   }

   .carouselContent {
      object-fit: cover;
      object-position: center;
      z-index: -1;
      width: 100%;
      height: 100%;
      position: absolute;
      border-radius: 25px;

      @media (min-width: 375px) and (max-width: 768px) {
         border-radius: 10px;
      }
   }

   .leftArrow {
      position: absolute;
      left: 23.36px;
      top: 156.7px;
      cursor: pointer;

      @media (min-width: 375px) and (max-width: 768px) {
         left: 5.84px;
         top: 118.1px;
      }

      img {
         @media (min-width: 375px) and (max-width: 768px) {
            width: 11.67px;
            height: 19.8px;
         }
      }
   }

   .rightArrow {
      position: absolute;
      right: 23.36px;
      top: 156.7px;
      cursor: pointer;

      @media (min-width: 375px) and (max-width: 768px) {
         right: 5.84px;
         top: 118.1px;
      }

      img {
         @media (min-width: 375px) and (max-width: 768px) {
            width: 11.67px;
            height: 19.8px;
         }
      }
   }

   .counter {
      position: absolute;
      bottom: 24.92px;
      left: 50%;
      right: 50%;
      color: white;
      font-size: 18px;
      font-weight: 500;

      @media (min-width: 375px) and (max-width: 768px) {
         display: none;
      }
   }
}
