@use "../styles/Global.scss" as *;

.dropdown {
   max-height: 52px;
   width: 100%;
   overflow: hidden;
   transition: max-height 0.3s ease-out;

   @media (min-width: 375px) and (max-width: 768px) {
      max-height: 30px;
   }

   &.expanded {
      max-height: 279px;

      .topbar img {
         transform: rotate(-180deg);
      }
   }

   .topbar {
      display: flex;
      z-index: 2;
      position: relative;
      height: 52px;
      width: 100%;
      background-color: $primaryColor;
      border-radius: 10px;
      transition: border-radius 0.3s ease-out;

      @media (min-width: 375px) and (max-width: 768px) {
         height: 30px;
      }

      &:has(+ .open) {
         border-bottom-left-radius: 0;
         border-bottom-right-radius: 0;
      }

      h3 {
         color: white;
         font-size: 18px;
         font-weight: 700;
         margin: 15px 0 0 10px;

         @media (min-width: 375px) and (max-width: 768px) {
            margin: 8px 0 10px 10px;
            font-size: 13px;
            font-weight: 700;
         }
      }

      img {
         position: absolute;
         width: 24px;
         height: 14px;
         top: 20.3px;
         right: 24px;
         transform: rotate(0);
         transition: transform 0.3s ease-out;

         @media (min-width: 375px) and (max-width: 768px) {
            top: 10.29px;
            right: 12px;
            width: 16px;
            height: 9px;
         }
      }
   }

   .content {
      z-index: 1;
      width: calc(100% - 40px);
      background-color: #f6f6f6;
      padding: 16px 20px 20px 20px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      transform: translateY(-100%);
      transition: transform 0.3s ease-out;

      @media (min-width: 375px) and (max-width: 768px) {
         padding: 13px 20px 19px 20px;
      }

      &.open {
         transform: translateY(0);
      }

      p {
         padding: 0;
         margin: 0;
         font-size: 18px;
         font-weight: 400;

         @media (min-width: 375px) and (max-width: 768px) {
            font-size: 12px;
         }
      }
      ul {
         margin: 0;
         padding: 0;
         list-style: none;

         li {
            font-size: 18px;
            font-weight: 400;

            @media (min-width: 375px) and (max-width: 768px) {
               font-size: 12px;
            }
         }
      }
   }
}
