@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

//variables
$primaryColor: #ff6060;

//global style
* {
   font-family: "Montserrat", sans-serif;
}

body {
   max-width: 1440px;
   margin: auto;
   box-sizing: border-box;
}
