@use "./Global.scss" as *;

.info {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   &Housing {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .title {
         color: $primaryColor;
         font-size: 36px;
         font-weight: 500;
         margin: 30px 0 0 0;
      }

      .location {
         margin: 0 0 20px 0;
         font-size: 18px;
         font-weight: 500;
      }

      .tagList {
         display: flex;
         margin-bottom: 24px;

         .tag {
            min-width: 115px;
            height: 22px;
            text-align: center;
            padding: 3px 20px 0 20px;
            background-color: $primaryColor;
            border-radius: 10px;
            margin-right: 10px;
            color: white;
            font-size: 14px;
            font-weight: 700;
         }
      }
   }

   &Host {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-content: flex-start;

      .hostName {
         color: $primaryColor;
         font-size: 18px;
         font-weight: 500;
         max-width: 90px;
         text-align: end;
         margin: 0;
         padding-top: 30px;
         padding-right: 10px;
         height: 52px;
      }

      .hostPicture {
         width: 64px;
         height: 64px;
         border-radius: 50%;
         margin-top: 24px;
      }

      .notation {
         width: 100%;
         display: flex;
         justify-content: flex-end;
         margin-top: 21px;

         i {
            color: #e3e3e3;
            font-size: 24px;
         }
         .rated {
            color: $primaryColor;
         }
      }
   }
}

.details {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 76px;
   margin-bottom: 50px;
}
