@use "./Global.scss" as *;

.info {
   width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

   @media (min-width: 375px) and (max-width: 768px) {
      flex-direction: column;
   }

   &Housing {
      width: 70%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      @media (min-width: 375px) and (max-width: 768px) {
         width: 100%;
      }

      .title {
         color: $primaryColor;
         font-size: 36px;
         font-weight: 500;
         margin: 30px 0 0 0;

         @media (min-width: 375px) and (max-width: 768px) {
            font-size: 18px;
            margin-bottom: 5px;
         }
      }

      .location {
         margin: 0 0 20px 0;
         font-size: 18px;
         font-weight: 500;

         @media (min-width: 375px) and (max-width: 768px) {
            font-size: 14px;
            margin: 0;
         }
      }

      .tagList {
         display: flex;
         margin-bottom: 24px;

         @media (min-width: 375px) and (max-width: 768px) {
            font-size: 14px;
            margin-bottom: 10px;
            flex-wrap: wrap;
            align-content: center;
         }

         .tag {
            min-width: 115px;
            height: 22px;
            text-align: center;
            padding: 3px 20px 0 20px;
            background-color: $primaryColor;
            border-radius: 10px;
            margin-right: 10px;
            color: white;
            font-size: 14px;
            font-weight: 700;

            @media (min-width: 375px) and (max-width: 768px) {
               margin-top: 10px;
               font-size: 10px;
               min-width: 84px;
               height: 18px;
               padding: 3px 5px 0 5px;
               border-radius: 5px;
            }
         }
      }
   }

   &Host {
      width: 30%;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-content: flex-start;

      @media (min-width: 375px) and (max-width: 768px) {
         width: 100%;
         justify-content: flex-start;
         flex-wrap: nowrap;
         flex-direction: row;
         margin-top: 16px;
      }

      .hostName {
         color: $primaryColor;
         font-size: 18px;
         font-weight: 500;
         max-width: 90px;
         text-align: end;
         margin: 0;
         padding-top: 30px;
         padding-right: 10px;
         height: 52px;

         @media (min-width: 375px) and (max-width: 768px) {
            order: 2;
            padding-top: 0;
            font-size: 12px;
            font-weight: 500;
         }
      }

      .hostPicture {
         width: 64px;
         height: 64px;
         border-radius: 50%;
         margin-top: 24px;
         @media (min-width: 375px) and (max-width: 768px) {
            order: 3;
            margin-top: 0;
            width: 32px;
            height: 32px;
         }
      }

      .notation {
         width: 100%;
         display: flex;
         justify-content: flex-end;
         margin-top: 21px;

         @media (min-width: 375px) and (max-width: 768px) {
            order: 1;
            justify-content: flex-start;
            margin-top: 0;
            align-self: center;
         }

         i {
            color: #e3e3e3;
            font-size: 24px;

            @media (min-width: 375px) and (max-width: 768px) {
               font-size: 13px;
            }
         }
         .rated {
            color: $primaryColor;
         }
      }
   }
}

.details {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 76px;
   margin-bottom: 50px;

   @media (min-width: 375px) and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      margin-bottom: 27px;
      gap: 20px;
   }
}
